This script requires that the user update the import location to be function, not doing so will result in an error.

In [1]:
"""
Docstring: 

The code is an adaptation of the CSV database: "Team 6 - US Census Above 50K Predictor.csv". 
This process is done by changing the missing variables of some columns by their mode and by grouping variables to create dummies. 
This code prepares the training and testing sets for the second part of the assignment on Excel.

No bugs have been detected.

References : 
https://stackoverflow.com/questions/49598559/panadas-condition-on-dataframe-returns-typeerror-not-supported-between-inst
https://stackoverflow.com/questions/37265312/how-to-create-dummies-for-certain-columns-with-pandas-get-dummies
https://stackoverflow.com/questions/51782443/np-where-do-nothing-if-condition-fails
https://stackoverflow.com/questions/52753613/grouping-categorising-ages-column-in-python-pandas

"""

'\nDocstring: \n\nThe code is an adaptation of the CSV database: "Team 6 - US Census Above 50K Predictor.csv". \nThis process is done by changing the missing variables of some columns by their mode and by grouping variables to create dummies. \nThis code prepares the training and testing sets for the second part of the assignment on Excel.\n\nNo bugs have been detected.\n\nReferences : \nhttps://stackoverflow.com/questions/49598559/panadas-condition-on-dataframe-returns-typeerror-not-supported-between-inst\nhttps://stackoverflow.com/questions/37265312/how-to-create-dummies-for-certain-columns-with-pandas-get-dummies\nhttps://stackoverflow.com/questions/51782443/np-where-do-nothing-if-condition-fails\nhttps://stackoverflow.com/questions/52753613/grouping-categorising-ages-column-in-python-pandas\n\n'

In [2]:
#importing pandas, numpy, matplotlib.pyplot, seaborn, os, statsmodels.formula.api, train_test_split 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import statsmodels.formula.api as smf 
from sklearn.model_selection import train_test_split

In [3]:
#storing the path to the dataset

file = './Team 6 - US Census Above 50k Predictor.csv'

#reading the file into Python through pandas

df = pd.read_csv(file)

df = pd.read_csv('./Team 6 - US Census Above 50k Predictor.csv',
                 na_values = ' ?') #reading the file with all the missing values replace by ' ?'

#renaming all the columns 

df.columns=['Age','Job/Occupation as classified by the census', 
            'Type of employment', 'Number of hours currently working per week', 
            'Capital gain/Capital loss', 'Highest level of education', 'Completed years of education', 
            'Marital Status', 'Relationship inside the household', 'Race', 'Gender','Country of Origin','Income']

#returning the first 10 rows for the object based on position

df.head(n=10)

,Age,Job/Occupation as classified by the census,Type of employment,Number of hours currently working per week,Capital gain/Capital loss,Highest level of education,Completed years of education,Marital Status,Relationship inside the household,Race,Gender,Country of Origin,Income
0,38,Exec-managerial,Self-emp-inc,80,15024,Bachelors,13,Married-civ-spouse,Husband,White,Male,United-States,>50K
1,27,Tech-support,Private,40,0,Assoc-acdm,12,Married-civ-spouse,Husband,White,Male,United-States,<=50K
2,53,Farming-fishing,Self-emp-not-inc,45,0,Some-college,10,Married-civ-spouse,Husband,White,Male,United-States,<=50K
3,45,Adm-clerical,Private,40,0,Assoc-acdm,12,Never-married,Not-in-family,Black,Female,United-States,<=50K
4,17,Sales,Private,20,0,11th,7,Never-married,Own-child,White,Female,United-States,<=50K
5,31,Adm-clerical,Private,35,0,HS-grad,9,Never-married,Unmarried,White,Female,Puerto-Rico,<=50K
6,39,Tech-support,Private,40,0,Some-college,10,Divorced,Not-in-family,White,Female,Poland,<=50K
7,42,Exec-managerial,Private,50,0,Some-college,10,Married-civ-spouse,Husband,White,Male,United-States,<=50K
8,60,Craft-repair,Private,40,7298,HS-grad,9,Married-civ-spouse,Husband,White,Male,United-States,>50K
9,56,Exec-managerial,Self-emp-inc,40,-1672,Some-college,10,Married-civ-spouse,Husband,White,Male,United-States,<=50K

Data cleaning and feature engineering

In [4]:
#replacing all the ' ?' by 'nan'

df=df.replace(' ?', np.nan)

#replacing the nan variables by the mode of the column

df['Job/Occupation as classified by the census']= df['Job/Occupation as classified by the census'].replace(np.nan, df['Job/Occupation as classified by the census'].mode()[0])

#getting unique values of Series object.

df['Job/Occupation as classified by the census'].unique()

df['Type of employment']= df['Type of employment'].replace(np.nan, df['Type of employment'].mode()[0])

df['Type of employment'].unique()

df['Country of Origin']= df['Country of Origin'].replace(np.nan, df['Country of Origin'].mode()[0])

df['Type of employment'].unique()

# regrouping the variables in a new variables/bins for helping the regression

df['M_Country_of_Origin'] = ''
df['M_Country_of_Origin'] = np.where(df['Country of Origin'] == " United-States","US","Expat")

# regrouping the variables in a new variables/bins for helping the regression

df['m_Education_Level'] =''
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Bachelors","Graduated", df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Assoc-acdm","Graduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Some-college","Graduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 11th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 5th-6th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 1st-4th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 7th-8th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 9th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 10th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " 12th","Undergraduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " HS-grad","Graduated",df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Masters","Advanced", df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Doctorate","Advanced", df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Prof-school","Advanced", df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Preschool","Undergraduated", df['m_Education_Level'])
df['m_Education_Level'] = np.where(df['Highest level of education'] == " Assoc-voc","Undergraduated", df['m_Education_Level'])

# regrouping the variables in a new variables/bins for helping the regression

df['m_Job_occupation'] = ''
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Armed-Forces "," Manual", df['m_Job_occupation'])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Protective-serv"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Priv-house-serv"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Exec-managerial"," Manager", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Tech-support"," Other", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Farming-fishing"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Adm-clerical"," Other", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Sales"," Other", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Craft-repair"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Transport-moving"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Handlers-cleaners"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Prof-specialty"," Manager", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Machine-op-inspct"," Manual", df["m_Job_occupation"])
df['m_Job_occupation'] = np.where(df['Job/Occupation as classified by the census'] == " Other-service"," Other", df["m_Job_occupation"])

# replace the two variables in a new bins (1 or 0) for helping the regression

df['M_income'] = np.where(df['Income'] == ' <=50K',1,0)

# regrouping the variables in a new variables/bins for helping the regression

df['m_Employment'] =''
df['m_Employment'] = np.where(df['Type of employment'] ==' Federal-gov',"Gov", df['m_Employment'])
df['m_Employment'] = np.where(df['Type of employment'] ==' State-gov',"Gov", df['m_Employment'])
df['m_Employment'] = np.where(df['Type of employment'] ==' Local-gov',"Gov", df['m_Employment'])

df['m_Employment'] = np.where(df['Type of employment'] ==' Private',"Private", df['m_Employment'])
df['m_Employment'] = np.where(df['Type of employment'] ==' Self-emp-inc',"Private", df['m_Employment'])
df['m_Employment'] = np.where(df['Type of employment'] ==' Self-emp-not-inc',"Private", df['m_Employment'])

df['m_Employment'] = np.where(df['Type of employment'] ==' Without-pay',"Other", df['m_Employment'])
df['m_Employment'] = np.where(df['Type of employment'] ==' Never-worked',"Other", df['m_Employment'])

# regrouping the variables in a new variables/bins for helping the regression

df['m_marital_stat'] = ""
df['m_marital_stat'] = np.where(df['Marital Status'] == " Married-AF-spouse"," Married", df["m_marital_stat"])
df['m_marital_stat'] = np.where(df['Marital Status'] == " Never-married"," Single", df["m_marital_stat"])
df['m_marital_stat'] = np.where(df['Marital Status'] == " Married-civ-spouse"," Married", df["m_marital_stat"])
df['m_marital_stat'] = np.where(df['Marital Status'] == " Divorced"," Single", df["m_marital_stat"])
df['m_marital_stat'] = np.where(df['Marital Status'] == " Widowed"," Single", df["m_marital_stat"])
df['m_marital_stat'] = np.where(df['Marital Status'] == " Separated"," Single", df["m_marital_stat"])
df['m_marital_stat'] = np.where(df['Marital Status'] == " Married-spouse-absent"," Married", df["m_marital_stat"])

# regrouping the variables in a new variables/bins for helping the regression

df['m_Race'] =''
df['m_Race'] = np.where(df['Race'] ==' White',"White", df['m_Race'])
df['m_Race'] = np.where(df['Race'] ==' Black',"Black", df['m_Race'])
df['m_Race'] = np.where(df['Race'] ==' Asian-Pac-Islander',"Other", df['m_Race'])
df['m_Race'] = np.where(df['Race'] ==' Amer-Indian-Eskimo',"Other", df['m_Race'])
df['m_Race'] = np.where(df['Race'] ==' Other',"Other", df['m_Race'])

#using pd.cut() for regrouping int variables in bins

bins= [1,40,45,90]
labels = ['Part Time','Work Life Balance','Overtime']
df['m_WorkHour'] = pd.cut(df['Number of hours currently working per week'], bins=bins, labels=labels, right=False)

#using pd.cut() for regrouping int variables in bins

bins= [16,29,38,49,91]
labels = ['1','2','3','4']
df['m_age'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [5]:
#converting categorical variable into dummy variables.

df_dummies = pd.get_dummies(data = df,
              columns = ['m_Race','m_marital_stat', 
                         'M_Country_of_Origin', 'm_Education_Level', 'm_Job_occupation', 'm_Employment', 'm_WorkHour'])

#Training and Testing

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

df_data = df_dummies.drop(['M_income'],
                    axis = 1)


# preparing response variable data

df_target = df_dummies.loc[ : , 'M_income']

In [9]:
# preparing training and testing sets 

x_train, x_test, y_train, y_test = train_test_split(
            df_data,
            df_target,
            test_size = 0.25,
            random_state = 1223)

#converting in CSV databases and exporting the trainings and the testings 

x_train.to_csv(r'./data/train_features.csv',index = True)
x_test.to_csv(r'./data/test_features.csv', index = True)
y_train.to_csv(r'./data/train_y.csv', index = True)
y_test.to_csv(r'./data/test_y.csv', index = True)

#returning  all the x_train 

x_train.head()

       Age Job/Occupation as classified by the census Type of employment  Number of hours currently working per week  Capital gain/Capital loss Highest level of education  Completed years of education       Marital Status Relationship inside the household    Race   Gender Country of Origin  Income m_age  m_Race_Black  m_Race_Other  m_Race_White  m_marital_stat_ Married  m_marital_stat_ Single  M_Country_of_Origin_Expat  M_Country_of_Origin_US  m_Education_Level_Advanced  m_Education_Level_Graduated  m_Education_Level_Undergraduated  m_Job_occupation_  m_Job_occupation_ Manager  m_Job_occupation_ Manual  m_Job_occupation_ Other  m_Employment_Gov  m_Employment_Other  m_Employment_Private  m_WorkHour_Part Time  m_WorkHour_Work Life Balance  m_WorkHour_Overtime
1363    39                            Exec-managerial            Private                                          55                          0                  Bachelors                            13             Divorced                     Not-in-family   White     Male     United-States   <=50K     3             0             0             1                        0                       1                          0                       1                           0                            1                                 0                  0                          1                         0                        0                 0                   0                     1                     0                             0                    1
9623    46                            Exec-managerial   Self-emp-not-inc                                          75                          0                    7th-8th                             4   Married-civ-spouse                           Husband   White     Male            Greece   <=50K     3             0             0             1                        1                       0                          1                       0                           0                            0                                 1                  0                          1                         0                        0                 0                   0                     1                     0                             0                    1
9248    49                            Exec-managerial            Private                                          50                       3325               Some-college                            10             Divorced                     Not-in-family   White     Male     United-States   <=50K     4             0             0             1                        0                       1                          0                       1                           0                            1                                 0                  0                          1                         0                        0                 0                   0                     1                     0                             0                    1
12401   41                             Prof-specialty            Private                                          40                          0                    HS-grad                             9        Never-married                         Own-child   White   Female     United-States   <=50K     3             0             0             1                        0                       1                          0                       1                           0                            1                                 0                  0                          1                         0                        0                 0                   0                     1                     0                             1                    0
6233    21                               Adm-clerical            Private                                          40                          0                    HS-grad                             9        Never-married                     Not-in-family   White   Female     United-States   <=50K     1             0             0             1                        0                       1                          0                       1                           0                            1                                 0                  0                          0                         0                        1                 0                   0                     1                     0                             1                    0